# Node Modules
node_modules/

# Expo specific
.expo/
ios/
android/
dist/
ios/
web-build/

# Debug files
npm-debug.*

# Security-related files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Backup or original files
*.orig.*
web-build/
.env
# macOS
.DS_Store
.idea


google-services.json